NODE_ENV=production
DB_HOST=${{RAILWAY_PRIVATE_DOMAIN}}
DB_USER=root
DB_PASSWORD=VTWMmnmqZABtAmElhRerKdZqFRnItwEd
DB_NAME=railway
DB_PORT=3306
JWT_SECRET=gotobuyy_secret_key_2026_colombia
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-6533189585133892-040416-ad7413378a5fe5515e9b7a48d5fc59ff-2068728607
MERCADO_PAGO_PUBLIC_KEY=APP_USR-d8bdb457-ac22-4d06-b610-a917194ef9a7
MERCADO_PAGO_CLIENT_ID=6533189585133892
MERCADO_PAGO_CLIENT_SECRET=5RyG54G64XjJBAyucynlTASJuvzWDkDd
FRONTEND_URL=https://gotobuyy.com
BACKEND_URL=https://wonderful-joy-production-9b32.up.railway.app
PORT=5000